# database
POSTGRES_DB=datalogger
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

POSTGRES_HOST=localhost
POSTGRES_PORT=5432


# api
API_URL=http://127.0.0.1:8000/api
APP_PORT=8000


# cors (comma-separated, no spaces)
# dev: http://localhost:3000
# prod: https://yourdomain.com
ALLOWED_ORIGINS=http://localhost,http://localhost:3000,http://localhost:8000,http://127.0.0.1,http://127.0.0.1:3000,http://127.0.0.1:8000


# pytests test
# 0 - only tests with mocked repositorys
# 1 - assumes running api and db
RUN_ONLINE_TESTS=0